<h1>Welcome</h1>
<p>Welcome to storybooks 1.0.0</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque corporis dicta, dignissimos doloremque dolores eos, facilis fuga hic, id incidunt maxime minus natus officiis perferendis quibusdam recusandae vel.</p>
<a href="/auth/google" class="red darken-1 btn"><i class="fa ga-google"></i> Login with Google</a>